<div data-dojo-type="dijit/ContentPane">
	<div data-dojo-type="dijit/layout/ContentPane">
		<table style="padding: 10px;">
			<tr>
				<td>
					<div data-dojo-type="dijit/layout/ContentPane">
						<span data-dojo-attach-point='label_name'></span>
					</div>
				</td>
				<td>
					<div data-dojo-type="dijit/layout/ContentPane">
						<span data-dojo-attach-point='component_name'>${response.attributes.name.value}</span>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div data-dojo-type="dijit/layout/ContentPane">
						<span data-dojo-attach-point='label_description'></span>
					</div>
				</td>
				<td>
					<div data-dojo-type="dijit/layout/ContentPane">
						<span data-dojo-attach-point='component_description'>${response.attributes.description.value}</span>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div data-dojo-type="dijit/layout/ContentPane">
						<span data-dojo-attach-point='label_category'></span>
					</div>
				</td>
				<td>
					<div data-dojo-type="dijit/layout/ContentPane">
						<div data-dojo-attach-point='component_category'></div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div data-dojo-type="dijit/layout/ContentPane">
						<span data-dojo-attach-point='label_status'></span>
					</div>
				</td>
				<td>
					<div data-dojo-type="dijit/layout/ContentPane">
						<div data-dojo-attach-point='component_status'></div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div data-dojo-type="dijit/layout/ContentPane">
						<span data-dojo-attach-point='label_author'></span>
					</div>
				</td>
				<td>
					<div data-dojo-type="dijit/layout/ContentPane">
						<span data-dojo-attach-point='component_author'></span>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div data-dojo-type="dijit/layout/ContentPane">
						<span data-dojo-attach-point='label_dateCreate'></span>
					</div>
				</td>
				<td>
					<div data-dojo-type="dijit/layout/ContentPane">
						<div data-dojo-attach-point='component_dateCreate'></div>
					</div>
				</td>
			</tr>
		</table>
		<table style="padding: 10px; width: 100%;">
			<tr>
				<td colspan="2">
					<div data-dojo-type="widgets/ResourceWidget" data-dojo-attach-point='component_resource' data-dojo-props="formWidget:this" style="padding-left:8px">
					</div>
				</td>
				<td>
				</td>
			</tr>
		</table>
	</div>
</div>