<div data-dojo-type="dijit/ContentPane">
	<div data-dojo-type="dijit/layout/ContentPane">
		<h1 style="text-align: center;">${response.attributes.name.value}</h1>
		<h2 style="text-align: center;">${response.attributes.description.value}</h2>
		<table style="padding: 10px; width: 100%;">
			<tr>
				<td colspan="2">
					<div data-dojo-type="widgets/ResourceWidget" data-dojo-attach-point='component_resource' data-dojo-props="formWidget:this" style="padding-left:8px">
					</div>
				</td>
				<td>
				</td>
			</tr>
		</table>
	</div>
</div>